In [6]:
import sqlite3
import pandas as pd

In [7]:
# Created connection.
database_path = r"database.sqlite"

conn = sqlite3.connect(database_path)

In [9]:
# Creating dataframes from the tbales

df_country = pd.read_sql_query("SELECT * FROM country", conn)
df_league = pd.read_sql_query("SELECT * FROM league", conn)
df_match = pd.read_sql_query("SELECT * FROM match", conn)
df_player = pd.read_sql_query("SELECT * FROM player", conn)
df_player_attributes = pd.read_sql_query("SELECT * FROM player_attributes", conn)
df_team = pd.read_sql_query("SELECT * FROM team", conn)
df_team_attributes = pd.read_sql_query("SELECT * FROM team_attributes", conn)
df_sqlite_sequence = pd.read_sql_query("SELECT * FROM sqlite_sequence", conn)

In [61]:
# Concate all the tables in one

# merging country table
df_all = pd.merge(left=df_league, right=df_country, how='outer', left_on='country_id', right_on='id')
df_all = df_all.drop(["id_x", "country_id"], axis=1)
df_all.columns.values[0] = "league_name"
df_all.columns.values[1] = "league_id"
df_all.columns.values[2] = "country_name"

# merging league table
df_all = df_match.merge(df_all, how='inner', left_on='league_id', right_on='league_id')
df_all = df_all.drop(["league_id", "country_id"], axis=1)
df_all.columns.values[0] = "match_id"

df_all

,match_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,...,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA,league_name,country_name
0,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,...,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20,Belgium Jupiler League,Belgium
1,2,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,...,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60,Belgium Jupiler League,Belgium
2,3,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,...,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75,Belgium Jupiler League,Belgium
3,4,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,...,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50,Belgium Jupiler League,Belgium
4,5,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,...,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67,Belgium Jupiler League,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25975,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland Super League,Switzerland
25975,25976,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland Super League,Switzerland
25976,25977,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland Super League,Switzerland
25977,25978,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland Super League,Switzerland
25978,25979,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland Super League,Switzerland